
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data Analysis</h2>
Welcome to the Analysis Page. If you are Logged in, you can begine your analysis of the most recent data @Html.ActionLink("Here", "Filter").
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Begin Analysis" class="btn btn-default" />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
